<h2>Booking Form</h2>

<p>Please fill in the details below to book a slot.</p>

{{#if onSaveError}}
    <p>{{onSaveError}}</p>
{{/if}}

{{booking-form user=model}}

{{log model}}

{{#if model.bookings}}
    <h3>Bookings</h3>

    {{#each model.bookings as |booking|}}
        <dl>
            <dt>Type:</dt>
            <dd>{{booking.type}}</dd>
            <dt>Date:</dt>
            <dd>{{format-date booking.date}}</dd>
        </dl>
    {{/each}}
{{/if}}
