<h2>Booking Form</h2>

<p>Please fill in the details below to book a slot.</p>

{{#if onSaveError}}
    <p>{{onSaveError}}</p>
{{/if}}

{{booking-form form=model}}

{{#if model}}
    <h3>Bookings</h3>

    <dl>
        {{#each model as |booking|}}
            <dt>First name:</dt>
            <dd>{{booking.firstName}}</dd>
            <dt>Last name:</dt>
            <dd>{{booking.lastName}}</dd>
            <dt>Phone:</dt>
            <dd>{{booking.phone}}</dd>
            <dt>Email:</dt>
            <dd>{{booking.email}}</dd>
            <dt>Date:</dt>
            <dd>{{format-date booking.date}}</dd>
        {{/each}}
    </dl>
{{/if}}
